$box-shadow: #ccc;

.Auth {
  width: 80%;
  margin: 20px auto;
  text-align: center;
  box-sizing: border-box;
  box-shadow: 0 2px 3px $box-shadow;
  padding: 10px;
}

.Input {
  display: block;
  width: 100%;
}

.ErrorMsg {
  color: red;
  font-weight: bold;
}

.FormHeader {
  text-align: left;
  margin-left: 10px;
}

@media (max-width: 600px) {
  .Auth {
    width: 500px;
  }
}
